header {
    height: 80px;
    width: 100%;
    background:#ffffff;
    position: fixed;
    border-style: solid;
    border-bottom-width: 3px;
    border-top-width: 0px;
    border-color: #cccccc;
    top: 0;
    left: 0;
    
    }
    
    #bar {
    width: 960px;
    margin: 0 auto;
    }
    
    #MarisaMark {
        background:#4aaaa5;
        color: white;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
        width: 200px;
        height: 80px;
        font-size: 20pt;
        text-align: center;
        padding: 0;
        float: left;
        }
    
    #mm {
        margin-top: 20px;
        padding:6px;
    }
    #tabs {
        float: right;
        color:#777777;
        background-color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 30px;
    }
    
    
    h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-top: 23px;
    padding-bottom: 10px;
    background: #ffffff;
    color: #4aaaa5;
    border-color: #cccccc;
    border-style: solid;
    border-bottom-width: 3px;
    border-left-width: 0px;
    border-right-width: 0px; 
    border-top-width: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
        }
    
    #wrapper {
    width: 960px;
    height: auto;
    padding: 0px;
    margin: 130px auto;
    }
    
body {
    background:url(../Basic-Portfolio/assets/images/ad481432f9686a5627ae2a7eff211f22.jpg)
        }

#portfolio {
        width: 960px;
        height: 500px;
        padding-right: 32px;
        padding-left: 32px;
        padding-top: 0px;
        padding-bottom: 32px;
        line-height: 30px;
        border: 0px #dddddd;
        border-top-width: 10px;
        margin-top: 0px;
        background: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        color: #777777;
        }


#firstbox {
float: left;
padding: 30px;
}
#secondbox {
    float: left;
    padding: 30px;
}
#thirdbox {
    float: left;
    padding: 30px;
}

#text1 {
        background:#4aaaa5;
        color: white;
        font-weight: bold;
        margin-top: 142px;
        padding: 0px;
        width: 200px;
        height: 50px;
        font-size: 20pt;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        position: absolute;

}


#text2 {
    background:#4aaaa5;
    color: white;
    font-weight: bold;
    margin-top: 142px;
    padding: 0px;
    width: 200px;
    height: 50px;
    font-size: 20pt;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;

}

#text3 {
    background:#4aaaa5;
    color: white;
    font-weight: bold;
    margin-top: 142px;
    padding: 0px;
    width: 200px;
    height: 50px;
    font-size: 20pt;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;

}

footer {
    height: 70px;
    width: 100%;
    background:#666666;
    position: fixed;
    border-style: solid;
    border-bottom-width: 0px;
    border-top-width: 7px;
    border-color: #4aaaa5;
    bottom: 0;
    left: 0;
    color:#dddddd;
    text-align: center;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;

}